src/main/webapp/WEB-INF/wsdl/MailServiceImpService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. -->
<definitions targetNamespace="http://Service.mailService.epam.com/" name="MailServiceImpService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:tns="http://Service.mailService.epam.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://Service.mailService.epam.com/" schemaLocation="MailServiceImpService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="deleteMailByAddress">
    <part name="parameters" element="tns:deleteMailByAddress"/>
  </message>
  <message name="deleteMailByAddressResponse">
    <part name="parameters" element="tns:deleteMailByAddressResponse"/>
  </message>
  <message name="getMailByAddress">
    <part name="parameters" element="tns:getMailByAddress"/>
  </message>
  <message name="getMailByAddressResponse">
    <part name="parameters" element="tns:getMailByAddressResponse"/>
  </message>
  <message name="sendMail">
    <part name="parameters" element="tns:sendMail"/>
  </message>
  <message name="sendMailResponse">
    <part name="parameters" element="tns:sendMailResponse"/>
  </message>
  <message name="getAllMails">
    <part name="parameters" element="tns:getAllMails"/>
  </message>
  <message name="getAllMailsResponse">
    <part name="parameters" element="tns:getAllMailsResponse"/>
  </message>
  <message name="getMailBySubject">
    <part name="parameters" element="tns:getMailBySubject"/>
  </message>
  <message name="getMailBySubjectResponse">
    <part name="parameters" element="tns:getMailBySubjectResponse"/>
  </message>
  <portType name="MailService">
    <operation name="deleteMailByAddress">
      <input wsam:Action="http://Service.mailService.epam.com/MailService/deleteMailByAddressRequest" message="tns:deleteMailByAddress"/>
      <output wsam:Action="http://Service.mailService.epam.com/MailService/deleteMailByAddressResponse" message="tns:deleteMailByAddressResponse"/>
    </operation>
    <operation name="getMailByAddress">
      <input wsam:Action="http://Service.mailService.epam.com/MailService/getMailByAddressRequest" message="tns:getMailByAddress"/>
      <output wsam:Action="http://Service.mailService.epam.com/MailService/getMailByAddressResponse" message="tns:getMailByAddressResponse"/>
    </operation>
    <operation name="sendMail">
      <input wsam:Action="http://Service.mailService.epam.com/MailService/sendMailRequest" message="tns:sendMail"/>
      <output wsam:Action="http://Service.mailService.epam.com/MailService/sendMailResponse" message="tns:sendMailResponse"/>
    </operation>
    <operation name="getAllMails">
      <input wsam:Action="http://Service.mailService.epam.com/MailService/getAllMailsRequest" message="tns:getAllMails"/>
      <output wsam:Action="http://Service.mailService.epam.com/MailService/getAllMailsResponse" message="tns:getAllMailsResponse"/>
    </operation>
    <operation name="getMailBySubject">
      <input wsam:Action="http://Service.mailService.epam.com/MailService/getMailBySubjectRequest" message="tns:getMailBySubject"/>
      <output wsam:Action="http://Service.mailService.epam.com/MailService/getMailBySubjectResponse" message="tns:getMailBySubjectResponse"/>
    </operation>
  </portType>
  <binding name="MailServiceImpPortBinding" type="tns:MailService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="deleteMailByAddress">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getMailByAddress">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="sendMail">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getAllMails">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getMailBySubject">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="MailServiceImpService">
    <port name="MailServiceImpPort" binding="tns:MailServiceImpPortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

